@use '../../../styles/variables.scss' as *;
@use '../../../styles/mixins.scss' as *;

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

.body{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.roster{
    @include theme('secondary');
    border-radius: 15px;
    border-color: $accent-color;
    border-width: 2px;
    border-style: solid;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    width: calc(20vw - 2.5rem);
    height: 100%;

    a{
        text-decoration: none;
        color: $text_color;

        ul {
            display: flex;
            flex-direction: row;
            gap: 1.25rem;

            li:first-child {
                list-style-type: none;
            }
        }
    }
}

.leadersWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: calc(80vw - 2.5rem);
}

.leaders{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

.leader{
    @include theme('secondary');
    border-radius: 15px;
    border-color: $accent-color;
    border-width: 2px;
    border-style: solid;
    padding: 1rem;
    flex: 0 1 calc((80vw / 3) - 3rem);
}

.leaderTop {
    text-decoration: none;
    color: $text_color;
    position: relative;
    height: 12rem;
    display: flex;
    flex-direction: column;
}

.leaderBottom {
    display: flex;
    flex-direction: row;

    a{
        font-size: .8rem;
        text-decoration: none;
        color: $text_color;
        position: relative;
        display: flex;
        flex-direction: column;
        height: 5rem;
        flex: 0 1 33%;
    }
}

.loadingItem{
    @include loadingBar();
}

.loadingPlayer{
    filter: brightness(0);
}

.loadingBottomImage {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 5rem;
    flex: 0 1 33%;
}

@media screen and (max-width: 1100px) {
    .leader {
        flex: 0 1 calc((80vw / 2) - 3rem);
    }
}

@media screen and (max-width: 900px) {
    .leader {
        flex: 0 1 calc((60vw / 1) - 3rem);
    }

    .roster {
        width: calc(40vw - 2.5rem);
    }
}

@media screen and (max-width: 500px) {
    .body {
        flex-direction: column;
    }

    .roster {
        width: calc(100vw - 4rem);
    }

    .leader {
        flex: 1 1 100%;
    }

    .leadersWrapper {
        width: calc(100vw - 4rem);
    }
}