@use '../styles/mixins' as *;
@use '../styles/variables' as *;

.wrapper {
  padding: 2rem;
}

.teamsContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 2rem;
}

.conferenceContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1 1 auto;
}

.division {
  @include theme('secondary');
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  border-radius: 15px;
  border-color: $accent-color;
  padding: 1rem;
  gap: .5rem;

  a {
    text-decoration: none;
    color: $text-color;
  }

  ul {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .teamsContainer {
    flex-direction: column;
  }
}
